<ion-popover-view>
    <ion-content>           
        <ion-list>            
            <ion-item ng-controller="MenuController" ng-click="addFavorite(dish.id)">
                  Add Favorite
            </ion-item>            
            <ion-item ng-click="openCommentForm()">
              Add comment
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>